header  {
 display: flex;
 flex-direction: row;
justify-content: space-between;
margin-bottom: 2rem;
}

#logo {
display: flex;
flex-direction: row;
}

#cursive {
  font-family: "brush script m7", Cursive;
font-size: 2rem;
}

body {
  width: 901px;
  padding: 3%;
}

main {
  margin-top: 3rem;
}
#top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#topDivider {
  display: flex;
 flex-direction: row;
}

ul {
  background-image: url("../img/list-bg.png");
  font-size: large;
  line-height: 1.75em;
  padding: 2em;
  font-family: "Kalam";
}

#bottom {
  display: flex;
  direction: row;
}
#text {
  text-indent: 25px;
  line-height: 1.2em;
  font-size:  1.25em;
  margin-bottom: 1em;
  margin-top: 1em;
}

#top > div {
  display: flex;
}
#top > section:nth-child(2){
  float: right;
}
